@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .blue-underline-hover {
        @apply relative;
      }
      .blue-underline-hover::after {
        @apply content-[''] absolute bottom-0 left-0 h-[2px] w-full origin-bottom-left scale-x-0 bg-sky-400 transition-transform duration-300 ease-out;
      }
      .blue-underline-hover:hover::after {
        @apply scale-x-100;
      }
      .grid-pattern-bg {
        @apply relative;
        --color: rgba(0, 0, 0, 0.222);
        background-image: 
          linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
          linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
        background-size: 55px 55px;
      }
    }

@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Afacad:wght@300;500;600&display=swap');

* {
    font-size: 1.8vh;
    font-family: 'Merienda', cursive;
}

/* Spinner code */
.spinner {
    width: 88px;
    height: 88px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

.spinner>div {
    background-color: #ffeb3b;
    height: 100%;
    position: absolute;
    width: 100%;
    border: 4px solid black;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-44px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(44px);
}
@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

/* write a blog page */
.blog-description .ql-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50vh !important;
}

.blog-description .ql-editor {
    font-size: 2vh;
    font-family: 'Afacad', 'Merienda', sans-serif !important;
    font-weight: lighter !important;
    font-style: normal;
    line-height: 1.5;
    padding: 1vh;
}
